<div class="jumbotron">
  <h1 class="display-4">BURGERS! EAT THEM!</h1>
  <p class="lead">My favorite food? Hamburgers, hands down.</p>
  <hr class="my-4">
  <p>Hamburgers and cheeseburgers are the best.</p>

</div>

<main class="container-fluid">

  <section class="row">
    <div class="col-md-6 available-burgers list-group">
      {{#each burgArray}}
        <li class="list-group-item-warning list-group-item">{{burger_name}}</li>
      {{/each}}
    </div>

    <ul class='col-md-6 devoured-burgers list-group'>
      {{#each devouredBurgArray}}
        <li class="list-group-item-danger list-group-item">{{burger_name}}</li>
      {{/each}}
    </ul>
  </section>


  <section class='row'>

    <div class='col-md-4'>
      <form>
        <div class="form-group">
          <label for="new-burger">Enter a new burger!</label>
          <input type="text" class="form-control" id="new-burger">
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="devour-check" name="devour-check" value="yes">
          <label class="form-check-label" for="devour-check">DEVOUR IMMEDIATELY</label>
        </div>
        <button type="submit" id='burger-submit' class="btn btn-success">Submit a burger</button>
      </form>
    </div>

  </section>

</main>